@using OnlineChat.Models.Users
@model OnlineChat.ViewModels.CreateModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    @foreach (User user in ViewBag.Users)
    {


   
    <form asp-controller="LecturerWall" asp-action="Wall">

        <div class="form-group notdisp">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" value=@user.Id />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group notdisp">
            <label asp-for="Text" class="control-label">Название</label>
            <input type="text" asp-for="Text" class="form-control" value="User" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="@user.FIO" class="lecturerBut"  />
        </div>
    </form>

}
               

